{
  "env": {
    "node": true
  },
  ecmaFeatures: {
    jsx: true
  },
  "globals": {
  },
  "plugins": [
  ],
  "extends": "eslint-config-airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "react/prop-types": 0
  }
}
