{
  "presets": [ "es2015", "stage-0", "react"],

  /* if you want to use babel runtime, uncomment the following line */
  // "plugins": ["transform-runtime"],

  "plugins": ["transform-decorators-legacy"],

  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }
}
